@model int

<li class="nav-item">
    <a class="nav-link position-relative" asp-controller="Notification" asp-action="Index" title="Notifications">
        🔔
        @if (Model > 0)
        {
            <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill bg-danger" style="font-size:0.6em; margin-left:-2px;">
                @Model
            </span>
        }
    </a>
</li>